body{
	font-family:'Roboto',sans-serif;
	background-color: #edeff0;
}
.boxes{
	background-color: white;
	border-bottom:2px solid #bdbdbd;
	margin:30px;
	padding:30px;
	color:#fb005b ;
	border-radius: 3px 3px 3px 3px;
	height:400px;
}
.details
{
	color:#999;

	 text-transform:uppercase;
}
.moreinfo{
	background-color: white;
	color: #e51c23;
	height: 50px;
	width: 150px;
	border: 3px solid #e51c23;
	font-size: 18px;
	margin-top: 25px;
	border-radius: 2px;

}
.moreinfo:hover{
	outline: none;
	color: white;
	background-color:#e51c23;
	border: 3px solid #e51c23;
	


}
.editinfo{
	background-color: white;
	color: #059ace;
	height: 50px;
	width: 150px;
	border: 3px solid #059ace;
	font-size: 18px;
	margin-top: 25px;
	border-radius: 2px;

}
.editinfo:hover{
	outline: none;
	color: white;
	background-color:#059ace;
	border: 3px solid #059ace;

}
.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  
  /*text-align: center;*/
  height:420px;
}
.boxes #dev_heading{
	text-align: center;
}
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}


.card__back {
    -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.flip{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.unflip {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.dev_heading{
font-size:24px;	
color: #777;
}
.signup_fields{
	border: none;
	border-bottom:3px solid #cdcdcd;
	width:350px;
	margin-bottom:5px;
	
}
.aligning{
	padding-left: 120px;
}
.signup_fields:focus{

	outline: none;
	border-bottom:3px solid #388E3C; 

}
textarea{
	width:350px;
}
textarea:focus{
	border:2px solid  #388E3C;
	border-radius: 4px;
}
.relate{
	position:relative; bottom:5px;
}
i{
	color:#777;
	
	}
i:hover{
	color:#999;
	cursor: pointer;

}
.material-icons.md-18 { font-size: 18px; }

@media (max-width: 768px){
	.card{
		float:none;
 padding-bottom:100%;
height:470px;
	}
	.card__front{
		height:1000px;
	}
	.boxes{
		height:450px;
	}
	.signup_fields{
	width:250px;	
		}
		textarea{
			width:250px;
		}
		.aligning{
			padding-left:15px;
		}
} 